# Home Assistant
/.cache/
/.cloud/
/.ha_run.lock
/.HA_VERSION
/home-assistant.log
/home-assistant.log.*
/html5_push_registrations.conf
/.storage/
/tts/

# Python
__pycache__/

# SQLite
/home-assistant_v2.db
/home-assistant_v2.db-shm
/home-assistant_v2.db-wal
