# Home Assistant
/.cloud/
/.HA_VERSION
/home-assistant.log
/.storage/

# Python
__pycache__/

# SQLite
/home-assistant_v2.db
/home-assistant_v2.db-shm
/home-assistant_v2.db-wal

# ZHA
/zigbee.db
/zigbee.db-journal
