---
extends: '.github/yamllint.yaml'

ignore: |-
  /custom_components/
  /themes/
  /www/community/

  # Encrypted files.
  /esphome/secrets.yaml
  /room_assistant/default.yaml
  /secrets.yaml
  /zigbee2mqtt/secret.yaml

rules:
  document-start:
    level: 'error'
    ignore: '/zigbee2mqtt/'
  quoted-strings:
    quote-type: 'single'
    ignore: '/zigbee2mqtt/'
